/* you can add your own styles in this file */

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  /* the var(--my-variable) syntax is a css variable
     https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_variables
     they aren't properly supported by all browsers yet so postcss turns them into normal css for you
  */
  font-family: var(--sans-serif);
  margin: 0;
  letter-spacing: var(--letter-spacing-1);
}

button {
  font-family: var(--sans-serif);
}

.navbar {
  height: 9rem;
  /* background: -webkit-gradient(linear ,left top,left bottom ,from(#333) ,to(#aaa)); */
  background: linear-gradient(#333 55%, #aaaaaa00);
}

#map {
  height: 50vh;
}

.b--rsbc-red {
  border-color: var(--rsbc-red);
}

.rsbc-red {
  color: var(--rsbc-red);
}

.bg-rsbc-red {
  background-color: var(--rsbc-red);
}

.wide-spacing {
  letter-spacing: var(--letter-spacing-2);
}

.hide-bottom {
  margin-top: -2px;
}

.vh-33 {
  height: 33vh;
}

.background-image {
  background-image: url(/assets/uk.png);
  background-size: cover;
}
